<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edeze_v1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edeze_v1"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SearchQuestionActivity"
            android:exported="false"
            android:theme="@style/Theme.Edeze_v1.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Edeze_v1.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Edeze_v1.NoActionBar" />
        <activity
            android:name=".QAActivity"
            android:exported="false" />
        <activity
            android:name=".PostQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".RespondActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity android:name=".FindTutorActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAy87_KpNj9gOG_ySNv868ppdBuWn1vsTU" />

    </application>

</manifest>